/*
=============== 
Accordion
===============
*/

.question {
  max-width: 800px;
  margin: auto;
  /* background: var(--clr-white); */
  border: 3px solid var(--heading-clr);
  border-radius: 50px;
  padding: 20px;
  padding-left: 50px;
  margin-bottom: 25px;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-bottom: 1rem; */
}

.question-title p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: var(--spacing);
}

.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--heading-clr);
  transition: var(--transition);
}

.question-btn:hover {
  transform: rotate(90deg);
}

.question-text {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid var(--heading-clr);
}

.question-text p {
  margin-bottom: 0;
}

.accordion .fa-solid {
  font-size: 30px;
  transition: var(--transition);
}

.accordion .fa-solid:hover {
  transform: scale(1.3);
}

/* hide text */
.question-text {
  display: none;
}

.show-text .question-text {
  display: block;
}

.minus-icon {
  display: none;
}

.show-text .minus-icon {
  display: inline;
}

.show-text .plus-icon {
  display: none;
}