.gallery-1 {
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

.gallery-container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.gallery-1__slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.gallery-1__slide:nth-child(1) {
  background: url("../../img/site-1.png") center/cover no-repeat;
}

.gallery-1__slide:nth-child(2) {
  background: url("../../img/site-2.png") center/cover no-repeat;
}

.gallery-1__slide:nth-child(3) {
  background: url("../../img/site-3.png") center/cover no-repeat;
}

.gallery-1__slide:nth-child(4) {
  background: url("../../img/site-4.png") center/cover no-repeat;
}

.gallery-1__slide:nth-child(5) {
  background: url("../../img/site-5.png") center/cover no-repeat;
}

.gallery-1__slide:nth-child(6) {
  background: url("../../img/site-6.png") center/cover no-repeat;
}


.gallery-1__slide a {
  position: absolute;
  font-size: 30px;
  bottom: 40px;
  right: 20px;
  margin: 0;
  opacity: 0;
  color: #fff;
}

.gallery-1__slide.active {
  flex: 10;
}

.gallery-1__slide.active a {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}