/*
=============== 
Sidebar
===============
*/

.sidebar-toggle {
  position: fixed;
  top: 50px;
  right: 50px;
  font-size: 30px;
  background: transparent;
  border-color: transparent;
  color: var(--heading-clr);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
  z-index: 10;
}


@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  /* background: var(--sidebck-clr); */
  background: var(--heading-clr);
  color: var(--bck-clr);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  transition: var(--transition);
  transform: translate(-100%);
  z-index: 10;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

.sidebar-logo {
  font-size: 35px;
  font-family: var(--ff-secondary);
}

.close-btn {
  font-size: 30px;
  background: transparent;
  border-color: transparent;
  color: var(--bck-clr);
  transition: var(--transition);
  cursor: pointer;
}

.close-btn:hover {
  transform: rotate(180deg);
}

.sidebar-links a {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: inherit;
  transition: var(--transition);
}

.sidebar-links a:hover {
  padding-left: 2rem;
}


.show-sidebar {
  transform: translate(0);
}