/*
=============== 
About
===============
*/

.about {
  width: 60%;
  margin: auto;
  position: relative;
  border: 2px solid var(--heading-clr);
  padding: 40px 50px 40px 150px;

}

.btn-container {
  position: absolute;
  left: 0;
  top: 40px;
  transform: translateX(-50%);
}

.tab-btn {
  width: 150px;
  color: var(--bck-clr);
  padding: 10px;
  border: none;
  text-transform: capitalize;
  font-size: inherit;
  display: block;
  background: var(--heading-clr);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: var(--spacing);
  border-radius: 50px;
  margin-bottom: 20px;
}

.content {
  display: none;
}

.content h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 15px;
}

.tab-btn.active {
  transform: translateX(-30px);
}

.content.active {
  display: block;
}