/*
=============== 
Variables
===============
*/

:root {

  /* Dark mode*/
  /* --bck-clr: #c8cdd8;
  --sidebck-clr: #1e2129;
  --heading-clr: #fdeac6;
  --text-clr: #F5EBEB; */

  /* Light mode  */
  --bck-clr: #FFF2F2;
  --sidebck-clr: #f8e9e9;
  --heading-clr: #7286D3;
  --text-clr: #8EA7E9;


  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Balsamiq Sans', cursive;



  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --max-width: 1400px;

}

/*
=============== 
Variables
===============
*/